Options All -Indexes

DirectoryIndex index.php index.htm index.html

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.usa-quietumplus-usa.us [NC]
RewriteRule ^(.*)$ http://usa-quietumplus-usa.us/$1 [L,R=301]

ErrorDocument 404 https://usa-quietumplus-usa.us
